body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Carousel 
.carousel-caption {
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
}
.carousel-content {
    color: black;
    display: flex;
}
#text-carousel {
    width: 100%;
    height: auto;
    padding: 50px;
}
*/
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%

}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

/* Hide captions 
.carousel-caption {
display: none;
}

.carousel-caption {
    top: 10%;
    right:0%;
}
*/

.form-signin{
    margin:10px auto;
    width:100%;
    max-width:330px;
}

/* footer */
$primary-light-blue: #8DB9ED; 
$primary-line-color: #ccc; 
* {
    box-sizing: border-box
}

html, body {
    height: 100%
}

body {
    font: 11px "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between
}


.generic-anchor {
    color: $primary-light-blue;
    text-align: left;
}

&:visited{
    color: $primary-light-blue
}

&:hover {
    color: $primary-line-color
}


.flex-rw {
    display: flex;
    flex-flow: row wrap
}

main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 10em "Oswald", sans-serif;
    color: rgb(155,155,155);
    line-height: 1
}

footer {
    background: rgb(55,55,55);
    margin-top: auto;
    width: 100%
}

.footer-list-top {
    width: 15%
}

.footer-list-top > li {
        text-align: left;
        padding-bottom: 5px
}

.footer-list-header {
    padding: 5px 0 5px 0;
    color: #fff;
    font: 16px "Oswald", sans-serif
}

.footer-list-anchor {
    font: 12px "Open Sans", sans-serif;
    text-align: left;
}

#test1 {
    font: 100px;
}