@using GMS.Data.Models @using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    Layout = "_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal - Mika's Music School</title>
    <link rel="stylesheet" href="~/css/admin.css" />
    @RenderSection("Css", required: false)
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 margtopdel">

        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/Admin">Admin Portal</a>
        <input class="form-control form-control-dark w-100" placeholder="Search" aria-label="Search" type="text">
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar collapse" id="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link adminli" asp-controller="Admin" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link adminli" asp-controller="Admin" asp-action="UserList">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link adminli" asp-controller="Admin" asp-action="Billing">Billing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link adminli" asp-controller="Admin" asp-action="Reports">Reports</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 ">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
