@using GMS.Data.Models
@using Microsoft.AspNetCore.Identity

@model GMS.ASPNet.Core.Models.SessionViewModels.LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Log in";

}

<body class="login-bg">
    <div class="form-signin">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4 class="title" id="login-title">Welcome Back</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div class="social-login">
                    <div class="form-group">
                        <input asp-for="UserName" class="form-control" placeholder="Email" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group" id="login-wrap-text">
                    <div class="checkbox" id="login-wrap-first">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                    <p id="login-wrap-second">
                        <a asp-action="ForgotPassword" class="linkdark">Forgot your password?</a>
                    </p>
                </div>


                <div class="form-group">
                    <button type="submit" class="default-button">Log in</button>
                </div>
                <div class="social-login">
                <button class="loginBtn loginBtn--facebook">
                    Login with Facebook
                </button>

                <button class="loginBtn loginBtn--google">
                    Login with Google
                </button>
                </div>


                <div class="form-group">
                    <p>
                        Don't have an account? <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="linkdark" id="no-acc">Create an account!</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</body>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
