@model GMS.ASPNet.Core.Models.SessionViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<body class="register-bg">
    
    <!-- MultiStep Form -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="msform">
                <fieldset>
                    <h4 class="title" id="reg-title">Create an account.</h4>
                    <hr />
                    <h2 class="fs-title">Personal Details</h2>
                    <h3 class="fs-subtitle">Let us know who you are</h3>
                    <div class="form-group">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name*" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name*" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="DOB" class="form-control" placeholder="Birthday*" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number*" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Address" class="form-control" placeholder="Address*" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <h2 class="fs-title">Social Profiles</h2>
                    <h3 class="fs-subtitle">What social platforms are you on?</h3>
                    <input type="text" name="twitter" placeholder="Twitter" />
                    <input type="text" name="facebook" placeholder="Facebook" />
                    <input type="text" name="gplus" placeholder="Google Plus" />

                    <h2 class="fs-title">Create your account</h2>
                    <h3 class="fs-subtitle">Fill in your credentials</h3>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <p id="terms"> By creating an account you agree to our <a href="#" class="linkdark">Terms & Privacy</a>.</p>
                    <button type="submit" class="default-button" id="registerbutton">Register</button>
                </fieldset>
            </form>

        </div>
    </div>
</body>



        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
