@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Music Lessons</h1>
    <p class="lead">Got nothing better to do? Got no games to play? No movies to watch? Play the piano!!! Do something useful with your time</p>

    <p>
        <a href="https://virtualpiano.net/" class="btn btn-primary btn-lg">Get Bored Real Fast Here &raquo;</a>
        <a href="https://www.templatemonster.com/demo/58146.html" class="btn btn-primary btn-lg">Demo Site &raquo;</a>
        <a href="http://preview.themeforest.net/item/musik-music-bands-artists-musicians-clubs-onepage-template-/full_screen_preview/14388058?ref=blueberry1&clickthrough_id=1205814126&redirect_back=true" class="btn btn-primary btn-lg">Another Demo Site &raquo;</a>
    </p>
</div>

<div class="row">
    <h5>I'm gonna leave these links for the boys to go through</h5>
    <div class="col-md-4">
    <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>