@{
    ViewBag.Title = "Index";
}

@*
*@

<div id='calendar'></div>

@section Scripts{

    <link href='~/lib/fullcalendar/css/fullcalendar.min.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/css/scheduler.css' rel='stylesheet' />
    <script src='~/lib/fullcalendar/js/moment.min.js'></script>
    <script src='~/lib/fullcalendar/js/jquery.min.js'></script>
    <script src='~/lib/fullcalendar/js/fullcalendar.min.js'></script>
    <script src='~/lib/fullcalendar/js/scheduler.js'></script>

    <script>

        $('#calendar').fullCalendar({          
            
            defaultView: 'timelineWeek',            
            selectable: true,
            eventLimit: true,

            header: {
                left: 'prev,next,today',
                center: 'title',
                right: 'timelineDay,timelineWeek,timelineMonth'
            },
            @*
            resources: [
                // list of teachers

                { id: 'a', title: 'Room A', eventColor: 'blue' },
                { id: 'b', title: 'Room B', eventColor: 'green' },
                { id: 'c', title: 'Room C', eventColor: 'orange' },
                { id: 'd', title: 'Room D', eventColor: 'red' }
            ],
                *@
            events: '/lesson/getAvailabilities',   
            
            select: function (start, end, jsEvent, view, resource) {
                console.log(
                    'select',
                    start.format(),
                    end.format(),
                    resource ? resource.id : '(no resource)'
                );
            },
                
            dayClick: function (date, jsEvent, view, resource) { // when clicked route to the where the student will request the timeslot
                console.log(
                    'dayClick',
                    date.format(),
                    resource ? resource.id : '(no resource)'
                );
            }
        });       
    </script>
}

