@{
    ViewData["Title"] = "About";
}

@section Css
{
    <link href="~/css/about.css" rel="stylesheet" type="text/css"/>
}

    <div class="container aboutbody">
        <h1>Generic Music School</h1>

        <h2>The journey begins with you.</h2>
        <h3>Our Philosophy</h3>
        <p>A love of music is universal; from nine months to ninety, any age group can enjoy both playing and listening.</p>
        <p>Your child might not be the next Mozart, but all children can learn musical skills and benefit from them.</p>
        <p>Music uses both sides of the brain and is therefore valuable for development in all areas – academically, physically, emotionally and spiritually.</p>

        <h3>Benefits of a Musical Education</h3>

        <h4>Music is academic</h4>
        <p>Musical theory trains the brain for higher forms of thinking and permanently enhances learning skills and capacity.</p>

        <h4>Music is physical</h4>
        <p>Playing instruments and keeping rhythm develops co-ordination and muscle control. Singing requires breath control.</p>

        <h4> Music is emotional</h4>
        <p>Music is an art form through which we express ourselves. We all need artistic, emotional outlets.</p>

        <h4>Music is for life</h4>
        <p>Music is a gift you can give that will last a lifetime.</p>

        <h3>Mika's Music School</h3>
        <p>Serious space to explore your passion and have fun with new friends
        Backing to develop the networks, technical skills and resilience to make it in the music world</p>

        <p>Full range of support, personal and professional, to help you reach your potential
        Our courses are inspiring and led by nationally and internationally acclaimed music professionals.<br />
        Experience music lessons at their best, tailored for your personal experience.<br />
        </p>
        <p><a href="/Session/Register" class="linklight"> Join us Today.</a></p>
    </div>