@{
    ViewData["Title"] = "About";
}

@section Css
{
    <link href="~/css/home.css" rel="stylesheet" type="text/css"/>
}

<div class="container">
    <div class="container2">
        <h1>Mika Music School</h1>

        <h4>When words fail, music speaks</h4>
        <p class="about-body">
            Our Philosophy
            A love of music is universal; from nine months to ninety, any age group can enjoy both playing and listening.
            <br/>
            Your child might not be the next Mozart, but all children can learn musical skills and benefit from them.
            <br/>
            Music uses both sides of the brain and is therefore valuable for development in all areas – academically, physically, emotionally and spiritually.
            <br/>
            <br>
            Benefits of a Musical Education
            <br/>
            Music is academic
            Musical theory trains the brain for higher forms of thinking and permanently enhances learning skills and capacity.
            <br/>
            Music is physical
            Playing instruments and keeping rhythm develops co-ordination and muscle control. Singing requires breath control.
            <br/>
            Music is emotional
            Music is an art form through which we express ourselves. We all need artistic, emotional outlets.
            <br/>
            Music is for life
            Music is a gift you can give that will last a lifetime.
            <br/>
            <br>
            Serious space to explore your passion and have fun with new friends
            <br/>
            Backing to develop the networks, technical skills and resilience to make it in the music world
            <br/>
            Full range of support, personal and professional, to help you reach your potential
            <br/>
            Our courses are inspiring and led by nationally and internationally acclaimed music professionals.<br/>
            Experience music lessons at their best, tailored for your personal experience.<br/>
            <br/>
            <a href="/Home/About" class="linklight"> Read our story.</a>
        </p>
    </div>
</div>