@{
    ViewData["Title"] = "Contact";
}

<body class="home-bg">

<div class="container">
        <div class="container2">

        <h1>Mika Music School</h1>


            <p align="left"><font size="+2">We're ready to assist you with any queries</font></p>

    </div>

        <div class="container3">
            2 George St<br />
                Brisbane City<br />
                QLD 4000<br />
            </div>


<address>
            <font size="3"><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@mika.com</a></font>
            <br>
            <font size="3"><strong>Support:</strong> <a href="mailto:Marketing@example.com">support@mikamusic.com</a></font>
</address>

        <div class="row">
                <div class="col-md-7">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14158.959444045791!2d153.028415!3d-27.477357!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaeb9c00d1ef00171!2sQUT+Gardens+Point+Campus!5e0!3m2!1sen!2sau!4v1525349084355" 
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                </div>

                <div class="col-md-5">
                    <h4><strong>Get in Touch the old way</strong></h4>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" name="" value="" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" name="" value="" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
                        </div>
                        <button class="btn btn-default" type="submit" name="button">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                        </button>
                    </form>
                </div>
            </div>



</body>