@using GMS.Data.Models
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home";
}
@section Css
    {
    <link href="~/css/home.css" rel="stylesheet" type="text/css" />
}
@inject SignInManager<AppUser> SignInManager

<div class="home-header col py-5 my-5 mx-auto section">
    <h1 class="title ta-c">Generic Music School</h1>
    <p class="slogan mx-auto ta-c">The journey begins with you.</p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="default-button  mx-auto " href="/Lesson/Book">BOOK NOW</a>
    }
    else
    {
        <a class="default-button mx-auto" href="/Session/Register">JOIN NOW</a>
    }
</div>
<div id="home-blurb" class="py-5 px-5 section">
    <div class="container">
        <h2>It's all here at the <br />Generic Music School.</h2>
        <p>
            The Generic Music School creates leaders in music performance, composition, education and research.<br />
            Our courses are inspiring and led by nationally and internationally acclaimed music professionals.<br />
            Experience music lessons at their best, tailored for your personal experience.<br />
            <br />
            <br />
            <a href="/Home/About" class="linklight"> Read our story.</a>
        </p>
    </div>
</div>
<div id="home-services" class="py-5 px-5 section">
    <div class="container">
        <h2> Our Services </h2>
        <div class="row">
            <div class="col-md-4">
                <h4 class="services-h4">Music Theory</h4>
                <!-- Text copied from https://www.earmaster.com/music-theory-online/course-introduction.html -->
                <p class="services-p">
                    Music is a very large subject, and the advanced theory that students will want to
                    pursue after mastering the basics will vary greatly. A trumpet player interested in jazz,
                    a vocalist interested in early music, a pianist interested in classical composition, and a
                    guitarist interested in world music, will all want to delve into very different facets of music theory.
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="services-h4">Instrument Lessons</h4>
                <!-- Text copied from www.musicexpress.com.au/mexpress/music-lessons-brisbane.html -->
                <p class="services-p">
                    What we can offer you is a list below to browse through and contact at your own leisure and
                    make a decision that is suitable for you. If you can't find a suitable teacher from the list below there are plenty of
                    databases of Music Teachers on-line and also plenty of resources on-line to help you make the right choices for lessons.
                </p>
            </div>
            <div class="col-md-4">
                <h4 class="services-h4">Voice Coaching</h4>
                <!-- Text copied from http://www.mediapotential.com.au/training/voice-coaching/ -->
                <p class="services-p">
                    Your voice is such an important tool for good and effective communication.
                    Our professional voice coach has years of experience.
                    We will empower you with reaching your vocal potential. Your voice needs to be clear and precise.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4 class="services-h4">Other Services</h4>
                <p class="services-p">We also offer a variety of other services, <a class="linkdark" href="~/contact.cshtml">contact us</a> to find out more </p>
            </div>
        </div>
    </div>
</div>
<div id="home-testimonials" class="section">
    <h2>Hear From Our Community</h2>
    <div id="TestimonyCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">
        <ol class="carousel-indicators">
            <li data-target="#TestimonyCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#TestimonyCarousel" data-slide-to="1"></li>
            <li data-target="#TestimonyCarousel" data-slide-to="2"></li>
            <li data-target="#TestimonyCarousel" data-slide-to="3"></li>
            <li data-target="#TestimonyCarousel" data-slide-to="4"></li>
        </ol>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <div class="carousel-inner" id="carousel-testimony">
                    <div class="carousel-item active">
                        <div class="carousel-content">
                            <p>"The team at Generic Music School make learning music an excellent and fun experience perfect for all skill levels."</p>
                            <h3 class="carousel-author"> Andrew Carr </h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <p>"The Generic Music School teachers are really passionate about music and have an understanding of how to tailor lessons to meet each student's technical needs."</p>
                            <h3 class="carousel-author"> Bill Gates </h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <p>"I've been learning at Generic Music School for about 3 years and I've learn so much through such a supportive community. "</p>
                            <h3 class="carousel-author"> Peter Parker </h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <p>"I've noticed serious improvements in my musical ability since attending Generic Music School. The tutors are amazing and very helpful and all in all, GMS will get you where you want to go."</p>
                            <h3 class="carousel-author"> Mark Zuckerberg </h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <p>"Teach music to I, Generic Music School has for me. Recommend Generic Music School, I do."</p>
                            <h3 class="carousel-author"> Yoda </h3>
                    <div class="carousel-item">
                        <div class="carousel-content">
                            <p>"I've been learning at Generic Music School for about 3 years and I've learn so much through such a supportive community. "</p>
                            <h3 class="carousel-author"> Peter Parker </h3>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
