@{
    ViewData["Title"] = "Home Page";
}


<body class="home-bg">
    <div class="home-header">
            <h1 class="title">Generic Music School</h1>
            <p class="slogan">The journey begins with you.</p>
            <a class="default-button" href="/Session/Register">JOIN NOW</a>
    </div>
    <div id="home-blurb">
        <h2>It's all here at the <br/>Generic Music School.</h2>
        <p>
            The Generic Music School creates leaders in music performance, composition, education and research.<br />
            Our courses are inspiring and led by nationally and internationally acclaimed music professionals.<br />
            Experience music lessons at their best, tailored for your personal experience.<br />
            <br />
            <br />
            <a href="/Home/About" class="link"> Read our story.</a>
        </p>
    </div>

   <div id="home-services">
        <h2> Our Services </h2>
       <p> thinking another carousel here with some more neat bullshit.</p>
   </div>
   <div id="home-testimonials">
       <h2>Hear From Our Community</h2>
       <div id="TestimonyCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">
           <ol class="carousel-indicators">
               <li data-target="#TestimonyCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#TestimonyCarousel" data-slide-to="1"></li>
               <li data-target="#TestimonyCarousel" data-slide-to="2"></li>
               <li data-target="#TestimonyCarousel" data-slide-to="3"></li>
               <li data-target="#TestimonyCarousel" data-slide-to="4"></li>
           </ol>
           <div class="row">
               <div class="col-xs-offset-3 col-xs-6">
                   <div class="carousel-inner" id="carousel-testimony">
                       <div class="item active">
                           <div class="carousel-content">
                               <p>"The team at Generic Music School make learning music an excellent and fun experience perfect for all skill levels. "</p>
                               <h3 class="carousel-author"> Andrew Carr</h3>
                           </div>
                       </div>
                       <div class="item">
                           <div class="carousel-content">
                               <p>"The Generic Music School teachers are really passionate about music and have an understanding of how to tailor lessons to meet each student's technical needs."</p>
                               <h3 class="carousel-author"> Bill Gates </h3>
                           </div>
                       </div>
                       <div class="item">
                           <div class="carousel-content">
                               <p>"I've been learning at Generic Music School for about 3 years and I've learn so much through such a supportive community. "</p>
                               <h3 class="carousel-author"> Peter Parker </h3>
                           </div>
                       </div>
                       <div class="item">
                           <div class="carousel-content">
                               <p>"I've noticed serious improvements in my musical ability since attending Generic Music School. The tutors are amazing and very helpful and all in all, GMS will get you where you want to go."</p>
                               <h3 class="carousel-author"> Mark Zuckerberg </h3>
                           </div>
                       </div>
                       <div class="item">
                           <div class="carousel-content">
                               <p>"Teach music to I, Generic Music School has."</p>
                               <h3 class="carousel-author"> Yoda </h3>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

       </div>
   </div>
</body>