@model IEnumerable<GMS.ASPNet.Core.Models.AccountViewModels.UserViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section css{
    <link href="~/css/billing.css" rel="stylesheet" type="text/css" />
}
<h2>@ViewData["Title"]</h2>

<p> test </p>