
@{
    ViewData["Title"] = "Admin Home Page";
}

<h2>Admin Controls</h2>
<br />
<br />
<a asp-action="UserList" asp-controller="Admin">View Users</a><br />
<a asp-action="Index" asp-controller="Admin">View invoices - TBA</a><br />
<a asp-action="Index" asp-controller="Admin">View Marketplace - TBA</a><br />

