body {
    background-image: url(../images/violin.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#reg-title {
    text-align: center;
}

#terms {
    text-align: left;
    color: white;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

    #msform fieldset {
        background: rgba(100, 100, 100, 0.5);
        border: 0 none;
        border-radius: 0px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        /*stacking fieldsets above each other*/
        position: relative;
    }

        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }

    /*inputs*/
    #msform input, #msform textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        color: #2C3E50;
        font-size: 13px;
    }


/*headings*/
.fs-title {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 13px;
    color: white;
    margin-bottom: 20px;
}
