/*NAV BAR*/
.flex-rw {
    display: flex;
    flex-flow: row wrap
}

#nav-name {
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-style: normal;
}

#navbar-header {
    color: black;
    background-color: black;
    font-family: "Arial", Gadget, sans-serif;
}

/* footer */
#footer{
width:100%;
padding-left:25%;
padding-right:15%;
background-color:black;
height:auto;
padding-top:2%;
padding-bottom:2%;
position: relative;
bottom: 0;
}

#footer ul li {
    list-style: none;
}

/*$primary-light-blue: #8DB9ED; $primary-line-color: #ccc; * {
    box-sizing: border-box
}*/

.generic-anchor {
    color: white;
    text-align: left
}

.footer-list-top {
    width: 15%
}

.footer-list-top > li {
        text-align: left;
        padding-bottom: 5px
}

.footer-list-header {
    padding: 5px 0 5px 0;
    color: #fff;
    font: 16px "Times New Roman", Times, serif
}

.footer-list-anchor {
    font: 12px "Times New Roman", Times, serif;
    text-align: left;

}
#lab_social_icon_footer {
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.container-social{
    float:left;
}
/* end of footer */

/*body etc.*/
html, body {
    height: 100%
}

body {
    font: 11px "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: #EBEAE7;
    min-width:800px;
}

main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1em "Times New Roman", Times, serif;
    color: rgb(155,155,155);
    line-height: 1
}

.body-content {
    width: 100%;
}

/* BUTTONS */
.default-button {
    background-color: #262626;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    opacity: 0.8;
    font-family: sans-serif;
}
    .default-button:hover {
    opacity: 0.7;
    color: white;
    }
/* Forms */
.form-control{
    border-radius:0;
}

/* links */

.linklight {
    color: dimgray;
}

.linklight:hover {
        color: black;
}

.linkdark {
    color: dimgray;
}

.linkdark:hover {
        color: white;
    }

     /* HOME PAGE*/

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%

}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

/* REGISTER PAGE */

/* About Page */
.about-body{
    font: 14px "Times New Roman", Times, Serif;
    color: white;

}

.container2 {
    width: 100%;
    color: #ffffff;
}

.container3 {
    width: 100%;
    color: #ffffff;
    font-size: 15px;

}

.container4 {
    width: 100%;
    color: #ffffff;
    font-size: 20px;

}